body{
    background-color: #F5F4F0;
    line-height: 1.6rem;
    font-family: Karla,Verdana,sans-serif;
}

html{
    color: #2d2b31;
    font-style: normal;
    font-weight: 400;
}

h3{
    color:#535456;
    margin-bottom: 25px;
    margin-top: 50px;
}

#header{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

section{
    width: 1000px;
    margin: auto;
}

.container-left{
    width: 50%;
   float: left;
    height: 600px;
}

.container-right{
    width: 50%;
    float: left;
    height: 600px;
    
}

.h3colocado{
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-size: 1.333rem;
}

.parrafoArreglado{
    font-size: 1.2rem;
    color: #2d2b31;
    line-height: 2.6rem;
}

.tituloAbajo{
    text-align: center;
    clear: both;
}

#cajaFormulario{                                                            
    text-align: center;
    background-color: #9bccbb;
    width: 100%;
   
}

.boxForm{
    width: 900px;
    margin: auto;
}

.formu1 {
    float: left;
    width: 50%;
}

.formu1 input{
    border: none;
    border-bottom:  #2d2b31  2px solid;
    background-color: transparent;
    width: 430px;
    padding-top: 20px;
}

.textoForm{
    width: 880px;
    float: left; 
    margin-top: 20px;
}

.textoForm input{
    border: none;
    border-bottom:  #2d2b31  2px solid;
    background-color: transparent;
    width: 900px;
    padding-top: 20px;
}

.textoForm textarea{
    border: none;
    border-bottom:  #2d2b31  2px solid;
    background-color: transparent;
    width: 900px;
    padding-top: 40px;
}

label{
    float: left;
    font-size: 20px;
    padding-left: 10px;
}

footer{
    text-align: center;
}
                      
ul{
    list-style: none;
    width: 185px;
    margin: auto;
}

ul li{
    float: left;
}

